* {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

div {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

input {
    width: 55%;
    padding: 15px;
    margin: 25px auto;
    font-size: .8rem;
}

.photo_gallery {
    display: grid; 
    grid-template-columns: repeat( auto-fit, minmax(200px, 200px) );
    grid-template-rows: repeat( auto-fit, minmax(200px, 200px) );
    gap: 30px 25px;
    justify-content: center; 
}